* {
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: #eee7e0;
}

.header{
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  background-color: #dcd6d2;
  .header__bar-row{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    .top-items{
      width: 100%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top-items__title{
        color: #594e52;
        font-family: fantasy;
        font-size: 25px;
      }
      .top-items__menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #898880;
        font-size: 14px;
        font-family: monospace;
        .top-items__menu-signIn{
          margin-right: 30px;
        }
        .top-items__menu-signUp{
        }
      }
    }
  }
}

.footer {
  margin: 60px auto;
  padding: 10px;
  color: #dcd6d2;
  text-align: center;
}




//form
.contents-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  *zoom: 1;
  .container {
    max-width: 700px;
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: #f7f6f5;
    box-sizing: border-box;
  }
  .container h3 {
    margin: 0 0 20px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #666;
  }
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #dcd6d2;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #e8d3ca;
}

.contents-row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.contents-row .success h3 {
  margin: 10px auto;
}



.main{
  width: 100%;
  height: 85vh;
  overflow: scroll;
  .form-box{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    .form__search{
      width: 270px;
      height: 38px;
      border-radius: 5px;
      font-size: 13px;
      border: 1px solid #D8D8D8;
    }
    .fas{
      width: 50px;
      font-size: 12px;
      margin-left: 20px;
      border: none;
      border-radius: 14px;
      background-color: #dcd6d2;
      color: #898880;
      font-family: monospace;
    }
  }

  
  .content-post{
    height: 240px;
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f7f6f5;
    color: #594e52;
    .content-image{
      .image{
        height: 156px;
        width: 106px;
        margin: 0 50px;
      }
    }
    .content-info{
      width: 100%;
      margin-right: 50px;
      position: relative;
      .content-title{
        
      }
      .content-author{

      }
      .content-text{
        width: 100%;
        border-top: 1px dashed;
        padding-top: 8px;
        margin-top: 8px;
        font-size: 12px;
        color: #594e52;
      }
      .user-name{
        position: absolute;
        top: 0px;
        right: 0px;
      } 
    }
  }

  //削除
  .contents-row .content_post .more {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 30px;
    z-index: 2;
    height: 100px;
    width: 80px;
    text-align: right;
  }
  
  .contents-row .content_post .more:hover ul.more_list {
    display: block;
  }
  
  .contents-row .content_post .more ul.more_list {
    position: absolute;
    text-align: left;
    width: 80px;
    right: 0;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .contents-row .content_post .more ul.more_list li {
    border-bottom: 1px solid #ddd;
  }
  
  .contents-row .content_post .more ul.more_list li:last-child {
    border-bottom: 0;
  }
  
  .contents-row .content_post .more ul.more_list li a {
    display: block;
    padding: 5px;
  }
  
  .contents-row .content_post .more ul.more_list li a:hover {
    background-color: #57C3E9;
    color: #fff;
  }
}









